<section class="section">
    <div class="section__content constrain">
        <h2 id="history">{{ "History" | t }}</h2>

        {% for block in Model.Blocks %}
            {{ block | shape_render }}
        {% endfor %}
    </div>
</section>